header {
  background-color: gainsboro;
  position: fixed;
  height: 55px;
  align-items: center;
  padding: 10px;
  border: 2px double black;
  top: 0;
  left: 5px;
  right: 0;
  box-shadow: -5px 5px 3px black;
  font-size: x-large;
  display: flex;
  justify-content: space-between;
}
body {
  background-color: #1b1b32;
}
main {
  width: 80%;
  padding: 25px;
  max-width: 1000px;
  margin-top: 65px;
  background-color: azure;
  margin-right: auto;
  margin-left: auto;
}
#primary {
  background-color: antiquewhite;
  margin-left: 11px;
}
#secondary {
  background-color: teal;
  margin-top: 15px;
  margin-right: 11px;
}
#tertiary {
  background-color: silver;
  margin-top: 15px;
}
div {
  display: inline-block;
}
.pic {
  float: right;
  border: 2px solid black;
  margin: 11px;
}
#brain {
  width: 250px;
  float: right;
  margin: 25px;
}
#hollow {
  float: left;
  width: 250px;
  margin: 25px;
}
#horror {
  float: right;
  width: 250px;
  padding: 15px;
}
#portfolio{
  background-color: red;
}

#me {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

#quote {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
h2 {
  font-style: italic;
  text-decoration: underline;
}